MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/trafico
PORT=4000
CORS_ORIGIN=http://localhost:3000
JETSON_API_KEY=pon_aqui_una_clave_segura_para_tu_jetson
FIREBASE_PROJECT_ID=tu-proyecto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@tu-proyecto.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE\n-----END PRIVATE KEY-----\n"
FIREBASE_ADMIN_UID=yJyLdMVT6fdSSmnRja0cLpkhvp83
DEFAULT_FIREBASE_ROLE=admin
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
